body{
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.progress-range{
border: 1px solid black;
width: 100%;
height: 10px;
background-color: black;
border-radius: 20px;
border: 10px;
}
.progress-bar{
    border: 1px solid orange;
    width: 0%;
    height: 10px;
    background-color: orange;
    border-radius: 10px;

}
.volume-range{
    border: 1px solid black;
    width: 150px;
    height: 7px;
    background-color: black;
    border-radius: 20px;
    border: 10px;
    }
    .volume-bar{
        border: 1px solid rgb(48, 218, 33);
        width: 30%;
        height: 7px;
        background-color: rgb(48, 218, 33);
        border-radius: 10px;
    
    }
    .volume{
        display: flex;
        align-items: center;
    }
    .controls-left{
        display: flex;
    }
    #play, #volume-up, #volume-range{
        margin-left: 15px;
        font-size: 25px  ;
    }
    .controls-right{
        display: flex;
        justify-content: flex-end;

    }
    .time{
        display: flex;
    }

    #my-speed, #time, #fullscreen{
        margin-left: 15px;
        margin-top: -23spx;
    }
    #play:hover, #volume-up:hover{
        color: grey;
        transition: color 1s;
    }
    video{
        width: 100%;
        height: 90%;
    }